@model IEnumerable<CollegeApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<style>
    .link{
        text-decoration:none;
    }
</style>

<div class="container bg-light">
    @foreach (var item in Model)
    {
        <center>@Html.DisplayFor(modelItem => item.noteTitle)</center>
            <a asp-action="UpdateNote" asp-route-id="@item.id" class="link">Edit</a>

        <a asp-action="DeleteNote" asp-route-id="@item.id" class="link-danger link">Delete</a>
        <br /><br />
        @Html.DisplayFor(modelItem => item.noteDesc)

        <hr />
    }
</div>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.noteTitle)
            </th>
            <th>
@Html.DisplayNameFor(model => model.noteDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.noteTitle)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.noteDesc)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
-->
